flask
msal
pytz
pyodbc
flasgger
openai
langchain
langchain_community
langchain_openai
faiss_cpu
azure.storage.blob
azure.ai.inference
gunicorn
pymupdf
python-pptx
openpyxl
python-docx
pandas
azure.ai.documentintelligence
faiss_cpu
pymupdf
pypdf
azure.ai.formrecognizer
gevent
azure-cognitiveservices-speech
mutagen
PyPDF2
python-docx
openpyxl
asyncio
azure-identity
azure-mgmt-costmanagement
