<footer class="footer" style="
background-color: #03001A;
color: #ffffff;
text-align: center;
padding: 3rem;
margin-top: 3rem;
margin-left: var(--sidebar-width);
position: relative;">
    <p style="
        margin-bottom: 1rem;
        position: relative;">
    © 2025 TIH AI API Portal. Powered by the TIH AI Center of Excellence.
    </p>
    <div class="social-links" style="
        display: flex;
        justify-content: center;
        gap: 1rem;
        position: relative;
    ">
    </div>
</footer>